.round-16 {
    border-radius: 16px;
}

.round-14 {
    border-radius: 14px;
}

.round-12 {
    border-radius: 12px;
}

.round-10 {
    border-radius: 10px;
}

.round-8 {
    border-radius: 8px;
}

.round-6 {
    border-radius: 6px;
}

.round-4 {
    border-radius: 4px;
}

.round-2 {
    border-radius: 2px;
}
